.box{
    background-color: yellowgreen;
    width: 200px;
    height: 200px;
    margin: 300px;
    transform: translate(50px, 100px);
    transform: translate(50px, 100px) rotate(-45deg);
    /* positive: clockwise; negative: anti-clockwise */
    transform: scale(4,3);
    transform: skew(30deg, 20deg);
    transform: skew(45deg,-45deg);
    transform: skew(190deg);
    transform: matrix(1, 2, -1, 1, 80, 80);

    
}